* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
    background: #fff;
    color: #131313;
    /* background: url(/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    cursor: url(/images/icons8-cursor.svg), auto;
}

.header_wrapper {
    padding: 0 10em;
    width: 100%;
    position: fixed;
    background: #fff;
    /* border-bottom: 1px solid #131313; */
    box-shadow: 0px 1px 8px #7f7d7d;
    z-index: 999999;
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo_wrapper {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.logo_text h3 {
  font-size: 32px;
}

nav {
    margin-right: 3em;
}

nav ul  {
    display: flex;
    gap: 50px;
    align-items: center;
    height: 100%;
}

nav ul li {
    list-style: none;
    transition: all .2s ease-in-out;
    padding-top: .2em;
}

nav ul li:hover {
    transform: scale(1.2); 
}

nav ul li a {
    color: #131313;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
}

nav ul li a:hover {
    color: limegreen;
}

.btn_group {
    display: flex;
    gap: 20px;
}

.nav_btn {
    position: relative;
  margin: 0;
  padding: 0.8em 1.1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #131313;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.nav_btn:hover {
    -webkit-animation: sh0 0.5s ease-in-out both;
            animation: sh0 0.5s ease-in-out both;
            color: limegreen;
  }
  
  @-webkit-keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  .nav_btn:hover span {
    -webkit-animation: storm 0.7s ease-in-out both;
            animation: storm 0.7s ease-in-out both;
    -webkit-animation-delay: 0.06s;
            animation-delay: 0.06s;
  }
  
  .nav_btn::before,
  .nav_btn::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  .nav_btn:hover::before,
  .nav_btn:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .nav_btn:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.5);
  }
  
  .nav_btn:hover::after {
    transform: translate(50%, 0) scale(0.7);
  }

  .fancy {
    background-color: #131313;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 13px;
   }
   
   /* .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #fff;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   } */
   
   .fancy .text {
    font-size: 1.325em;
    /* line-height: 1.33333em; */
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
   }
   
   .fancy .top-key {
    height: 5px;
    width: 2.5625rem;
    border-radius: 10px ;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: limegreen;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 5px;
    width: 1.5625rem;
    right: 1.875rem;
    border-radius: 10px;
    bottom: -2px;
    position: absolute;
    background: limegreen;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 5px;
    border-radius: 10px;
    width: 0.625rem;
    right: 0.825rem;
    bottom: -2px;
    position: absolute;
    background: limegreen;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #131313;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: limegreen;
   }
   
   .fancy:hover .text {
    color: limegreen;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
    background: limegreen;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
    background: limegreen;
   }

  .top_btn_wrapper {
    position: fixed;
    right: 50px;
    bottom: 30px;
  }

  #top_btn {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #292522;
    background: none;
    position: relative;
    padding-bottom: 2em;
    font-family: inherit;
    cursor: pointer;
    display: none;
  }
  
  #top_btn > div,#top_btn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  #top_btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  #top_btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #top_btn .clone > *,#top_btn .text > * {
    opacity: 1;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  #top_btn .clone > * {
    transform: translateY(60px);
  }
  
  #top_btn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #top_btn:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #top_btn:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #top_btn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #top_btn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  #top_btn:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  #top_btn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  #top_btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }

  /* main */

  .container {
    padding: 0 10em;
  }
  
  main {
    padding-top: 80px !important;
  }

  /* cover */

  .cover {
    width: 65%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }

  .cover h1 {
    font-size: 90px;
    font-weight: 700;
  }

  .cover h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 1em;
  }

  .cover h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  /* cover */

  /* section */

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .section .section_text {
    width: 60%;
  }

  .section .section_text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 1em;
  }

  .section .section_text h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 1em;
  }

  .section .section_text p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 1em;
    font-weight: 400;
  }

  .social_btns {
    display: flex;
    gap: 1.5em;
    margin-top: 2em;
  }

  .social_btns span {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }

  .section .section_image {
    width: 40%;
    border-radius: 12px;
  }

  .section .section_image img {
    width: 100%;
    display: block;
    border-radius: 12px;
  }

  /* section */

  /* tokenomics */

  .tokenomics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-top: 10em;
  }

  .token_text {
    width: 50%;
  }

  .token_text h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: .5em;
  }

  .token_text h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .token_text p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 1em;
    font-weight: 400;
  }

  .token_point {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .token_point p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1em;
    font-weight: 400;
  }

  .token_chart {
    width: 50%;
  }

  .bar_group {
    padding: 20px;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }

  .bar {
    position: relative;
    background: green;
    height: 30px;
  }

  .bar_inner {
    position: absolute;
    height: 100%;
    width: 50%;
    background: red;
  }

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bar1 {
    width: 30%;
  }

  .bar2 {
    width: 36%;
  }

  .bar3 {
    width: 9%;
  }

  .bar4 {
    width: 12%;
  }

  .bar5 {
    width: 5%;
  }

  /* tokenomics */

  /* join community */

  .join_community {
    margin-top: 10em;
    background: #131313;
    color: #fff;
    padding: 3.5em 2em;
    border-radius: 8px;
  }

  .join_community h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 1em;
  }

  .join_community p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .comm_btn {
    color: #000;
    background: #fff;
  }

  .comm_btn:hover::before,
  .comm_btn:hover::after {
    opacity: 0.45;
    background: #131313;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  /* join community */

  /* Buy Hopium */

  .buy_hopium {
    margin-top: 10em;
  }

  .buy_hopium h3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 2em;
  }

  .card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }

  .card {
    padding: 3.5em 2em;
    border-radius: 8px;
    background: #131313;
    color: #fff;
  }

  .card h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin: .5em 0;
  }

  .card h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7f7d7d;
  }

  .card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  /* Buy Hopium */

  /* faq */

  .faq_container {
    margin-top: 10em;
  }

  .faq_container h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    margin-bottom: 2em;
  }

  .faq {
    max-width: 700px;
    margin: 2em auto;
    padding-bottom: 1em;
    border-bottom: 2px solid #131313;
    cursor: pointer;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height 0.5s ease;
  }

  .question h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  .question a {
    color: #131313;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .answer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 1em;
    transition: max-height 0.5s ease;
  }

  .faq.active .answer  {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    transition: max-height 0.5s ease;
    -webkit-animation: fade .5s ease-in-out;
            animation: fade .5s ease-in-out;
  }

  .faq.active .fa-chevron-down {
    transform: rotate(180deg);
  }

  .fa-chevron-down {
    transition: transform .3s ease-in;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* faq */

  /* copyright */

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    gap: 2em;
    padding-bottom: 2em;
  }

  .copyright h5 {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  .copyright .copy_btn {
    display: flex;
    gap: 1em;
  }

  .copyright p {
    font-size: 14px;
    font-weight: 400;
  }

  .show {
    display: block !important;
  }

  /* copyright */


  /* main */